body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 400px;
    background-color: darkslategray;
    color: azure;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}